@import"https://fonts.googleapis.com/css?family=Poppins:300,regular,500,600,700&display=swap";@import"https://fonts.googleapis.com/css?family=Montserrat:700&display=swap";.locked {
    overflow: hidden
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

[class*=__container] {
    margin: 0 auto;
    max-width: 1236px;
    box-sizing: content-box;
    padding: 0 102px
}

* {
    padding: 0;
    margin: 0;
    border: 0
}

*,:after,:before {
    box-sizing: border-box
}

aside,footer,header,nav,section {
    display: block
}

body,html {
    width: 100%;
    height: 100%
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    color: #3a3a3a;
    font-family: Poppins,sans-serif;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

button,input,textarea {
    font-size: inherit;
    font-family: inherit
}

input::-ms-clear {
    display: none
}

button {
    cursor: pointer
}

button::-moz-focus-inner {
    padding: 0;
    border: 0
}

a {
    color: inherit
}

a,a:hover,a:visited {
    text-decoration: none
}

li,ul {
    list-style: none
}

img {
    vertical-align: top
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: 400
}

.header {
    flex-shrink: 0;
    background-color: #fff;
    overflow: hidden
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px
}

.header__logo {
    display: flex;
    gap: 5px;
    align-items: center;
    color: #000;
    font-size: 34px;
    font-weight: 700;
    font-family: Montserrat,sans-serif
}

.main-nav {
    display: flex;
    gap: 75px
}

.main-nav__item-link {
    position: relative;
    display: flex;
    padding: 5px 0;
    color: #000;
    font-weight: 500;
    transition: color .3s cubic-bezier(.4,0,.2,1)
}

.main-nav__item-link:hover:not(.main-nav__item-link--current) {
    color: #b88e2f
}

.main-nav__item-link--current {
    color: #b88e2f;
    pointer-events: none
}

.header-buttons {
    display: flex;
    gap: 45px
}

.header-buttons__button {
    display: flex;
    padding: 5px 0;
    background-color: transparent
}

.header-buttons__button:hover .header-buttons__icon {
    fill: #b88e2f
}

.header-buttons__icon {
    width: 28px;
    height: 28px;
    transition: fill .3s cubic-bezier(.4,0,.2,1)
}

.overlay {
    max-width: 100%;
    height: 717px;
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover
}

.hero {
    display: flex
}

.hero__content {
    margin: auto 58px 117px auto;
    padding: 62px 43px 37px 39px;
    width: -moz-fit-content;
    width: fit-content;
    background-color: #fff3e3;
    border-radius: 10px
}

.hero__pretitle {
    margin-bottom: 4px;
    font-weight: 600;
    letter-spacing: 3px
}

.hero__title {
    margin-bottom: 17px;
    width: 399px;
    color: #b88e2f;
    font-size: 52px;
    font-weight: 700;
    line-height: 1.25
}

.hero__text {
    margin-bottom: 46px;
    width: 526px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.23
}

.hero__button {
    width: 222px;
    height: 74px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #b88e2f;
    transition: opacity .3s cubic-bezier(.4,0,.2,1)
}

.hero__button:hover {
    opacity: .8
}

.range-section {
    padding: 56px 0;
    color: #333;
    text-align: center
}

.range-section__title {
    font-size: 32px;
    font-weight: 700
}

.range-section__text {
    margin-bottom: 62px;
    color: #666;
    font-size: 20px
}

.range-list {
    display: flex;
    gap: 20px;
    justify-content: center
}

.range-list__image {
    margin-bottom: 30px;
    border-radius: 10px
}

.range-list__title {
    font-size: 24px;
    font-weight: 600
}

.products-section {
    padding-bottom: 69px
}

.products-section__title {
    margin-bottom: 32px;
    font-size: 40px;
    font-weight: 700;
    text-align: center
}

.products-section__button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 32px;
    width: 245px;
    height: 48px;
    color: #b88e2f;
    font-weight: 600;
    line-height: 24px;
    text-transform: capitalize;
    background-color: #fff;
    border: 1px solid #b88e2f;
    transition: background-color .3s cubic-bezier(.4,0,.2,1)
}

.products-section__button:hover {
    background-color: #f4f5f7
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -16px
}

.products-list__item {
    position: relative;
    margin: 16px;
    width: 285px
}

.products-list__image {
    height: 301px;
    object-fit: cover
}

.products-info {
    padding: 16px 16px 30px;
    background-color: #f4f5f7
}

.products-info__title {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px
}

.products-info__description {
    margin-bottom: 8px;
    color: #898989;
    font-weight: 500
}

.products-info__discount,.products-info__new {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    color: #fff;
    font-weight: 500;
    line-height: 24px;
    border-radius: 50%
}

.products-info__discount {
    background: #e97171
}

.products-info__new {
    background: #2ec1ac
}

.prices {
    display: flex;
    align-items: center
}

.prices__basic,.prices__discounted {
    font-size: 20px;
    font-weight: 600
}

.prices__basic--discounted {
    margin-left: 16px;
    color: #b0b0b0;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: line-through
}

.products-item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(58,58,58,.72);
    transition: opacity .5s cubic-bezier(.4,0,.2,1);
    opacity: 0
}

.products-list__item:hover .products-item-overlay {
    opacity: 1
}

.products-item-overlay__button {
    margin-bottom: 24px;
    width: 202px;
    height: 48px;
    color: #b88e2f;
    font-weight: 600;
    line-height: 24px;
    background-color: #fff
}

.products-item-overlay__actions {
    display: flex;
    gap: 20px
}

.products-item-overlay__actions-button {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 600;
    line-height: 24px;
    background-color: transparent;
    transition: color .3s cubic-bezier(.4,0,.2,1)
}

.products-item-overlay__actions-button:hover {
    color: #b88e2f
}

.products-item-overlay__actions-button:hover svg {
    fill: #b88e2f
}

.products-item-overlay__actions-icon {
    margin-right: 3px;
    width: 16px;
    height: 16px;
    transition: fill .3s cubic-bezier(.4,0,.2,1)
}

.rooms-section {
    padding: 44px 0;
    background-color: #fcf8f3
}

.rooms-section__container {
    position: relative;
    display: flex;
    gap: 42px;
    align-items: center;
    overflow: hidden
}

.info {
    width: -moz-fit-content;
    width: fit-content
}

.info__title {
    margin-bottom: 7px;
    width: 422px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    color: #3a3a3a
}

.info__text {
    margin-bottom: 25px;
    width: 368px;
    color: #616161;
    font-weight: 500;
    line-height: 1.5
}

.info__button {
    width: 176px;
    height: 48px;
    color: #fff;
    font-weight: 600;
    line-height: 1.5;
    background-color: #b88e2f;
    transition: opacity .3s cubic-bezier(.4,0,.2,1)
}

.info__button:hover {
    opacity: .8
}

.rooms-slider {
    position: relative;
    max-width: 800px;
    overflow: hidden
}

.rooms-slider__wrapper {
    position: relative;
    left: 0;
    display: flex;
    gap: 24px;
    transition: left .3s cubic-bezier(.4,0,.2,1)
}

.rooms-slider__item {
    position: relative
}

.rooms-slider__item img {
    height: 100%;
    transition: height .3s cubic-bezier(.4,0,.2,1);
    object-fit: cover;
    transition-delay: 50ms
}

.rooms-slider__item:not(.rooms-slider__item--active) img {
    width: 344px;
    height: 486px;
    transition-delay: 0ms;
    transition-duration: .15s
}

.rooms-slider__item--active .slide-details {
    opacity: 1
}

.rooms-slider__item:not(.rooms-slider__item--active) .slide-details {
    transition-duration: .1s;
    transition-delay: 0ms
}

.rooms-slider__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 4px 14px rgba(0,0,0,.16)
}

.rooms-slider__button-prev {
    left: 52px
}

.rooms-slider__button-prev svg {
    transform: rotate(180deg)
}

.rooms-slider__button-next {
    right: 52px
}

.rooms-slider__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 344px;
    height: 486px;
    color: #000;
    font-size: 34px;
    font-weight: 700;
    text-align: center
}

.slider-indicators {
    position: absolute;
    bottom: 29px;
    left: 63%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 20px;
    width: -moz-fit-content;
    width: fit-content;
    height: 27px
}

.slider-indicators__bullet {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11px;
    height: 11px;
    background-color: #d8d8d8;
    border-radius: 50%
}

.slider-indicators__bullet:after {
    content: "";
    display: block;
    width: 11px;
    height: 11px;
    background-color: #b88e2f;
    border-radius: 50%;
    scale: 0
}

.slider-indicators__bullet--active {
    width: 26px;
    height: 26px;
    border: 1px solid #b88e2f;
    background-color: transparent
}

.slider-indicators__bullet--active:after {
    scale: 1
}

.slide-details {
    position: absolute;
    bottom: 24px;
    left: 24px;
    padding: 32px;
    max-width: 305px;
    background-color: hsla(0,0%,100%,.72);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    transition: opacity .3s cubic-bezier(.4,0,.2,1);
    transition-delay: .2s;
    opacity: 0
}

.slide-details__pretitle {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    color: #616161;
    font-weight: 500;
    line-height: 1.5
}

.slide-details__pretitle span {
    display: inline-block;
    margin: 0 8px;
    width: 27px;
    height: 1px;
    background-color: #616161
}

.slide-details__title {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.2;
    text-transform: capitalize
}

.slide-details__button {
    position: absolute;
    left: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: #b88e2f
}

.gallery-section {
    box-sizing: content-box;
    position: relative;
    padding: 67px 0 50px;
    height: 780px;
    overflow: hidden
}

.gallery-section__container {
    text-align: center
}

.gallery-section__pretitle {
    margin-bottom: 8px;
    color: #616161;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5
}

.gallery-section__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2
}

.collage {
    position: absolute;
    top: 126px;
    left: 50%;
    transform: translateX(-50%);
    display: flex
}

.collage-left {
    margin-right: 16px
}

.collage-left__row {
    display: flex
}

.collage-left__row--top {
    margin-bottom: 16px
}

.collage-left__row--top .collage-image {
    display: flex
}

.collage-left__row--top .collage-image:last-child {
    margin: auto 0 0 16px
}

.collage-left__row--bottom .collage-image:last-child {
    margin-left: 16px
}

.collage-middle {
    display: flex;
    align-items: center
}

.collage-right {
    margin-left: 16px
}

.collage-right__row {
    display: flex
}

.collage-right__row--top {
    margin-bottom: 16px
}

.collage-right__row--top .collage-image {
    display: flex
}

.collage-right__row--top .collage-image:first-child {
    margin: auto 16px 0 0
}

.collage-right__row--bottom .collage-image:first-child {
    margin-right: 16px
}

.advantages {
    padding: 100px 0;
    background-color: #faf3ea
}

.advantages__container {
    max-width: 1334px
}

.advantages-list {
    display: flex;
    justify-content: space-between
}

.advantages-list__item {
    display: flex;
    color: #898989;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5
}

.advantages-list__icon {
    margin-right: 10px;
    width: 60px;
    height: 60px
}

.advantages-list__title {
    color: #242424;
    font-size: 25px;
    font-weight: 600
}

.shop-hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 316px
}

.shop-hero:before {
    content: "";
    position: absolute;
    inset: 0;
    max-width: 100%;
    height: inherit;
    background-image: url(../images/shop-hero.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    filter: blur(3px);
    opacity: .5
}

.shop-hero__content {
    position: relative;
    color: #000;
    text-align: center
}

.shop-hero__title {
    font-size: 48px;
    font-weight: 500
}

.shop-hero__path {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300
}

.shop-hero__path span {
    font-weight: 500
}

.shop-hero__path svg {
    margin: 0 6px
}

.shop-products {
    padding: 63px 0 85px
}

.control-panel {
    padding: 22px 0;
    background-color: #f9f1e7
}

.control-panel__container {
    justify-content: space-between
}

.control-panel__container,.cp-buttons {
    display: flex;
    align-items: center
}

.cp-buttons__list {
    display: flex;
    gap: 24px;
    margin-right: 30px
}

.cp-buttons__item {
    display: flex
}

.cp-buttons__item:first-child svg {
    margin-right: 12px
}

.cp-buttons__button {
    display: flex;
    align-items: center;
    background-color: transparent;
    font-size: 20px;
    transition: color .3s cubic-bezier(.4,0,.2,1)
}

.cp-buttons__button svg {
    transition: fill .3s cubic-bezier(.4,0,.2,1)
}

.cp-buttons__button:hover {
    fill: #b88e2f;
    color: #b88e2f
}

.cp-buttons__info {
    padding-left: 32px;
    color: #000;
    border-left: 2px solid #9f9f9f
}

.cp-selectors {
    display: flex;
    gap: 29px
}

.cp-show,.cp-sort {
    position: relative;
    color: #000;
    font-size: 20px
}

.cp-show__label,.cp-sort__label {
    margin-right: 17px
}

.cp-show__input,.cp-sort__input {
    color: #9f9f9f;
    background-color: #fff;
    outline: none;
    cursor: pointer
}

.cp-show__input:focus,.cp-sort__input:focus {
    box-shadow: 0 0 0 2px rgba(184,142,47,.5)
}

.cp-show__input::placeholder,.cp-sort__input::placeholder {
    color: #adadad
}

.cp-show__list,.cp-sort__list {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 2
}

.cp-show__item,.cp-sort__item {
    padding: 15px 20px;
    cursor: pointer
}

.cp-show__item:hover:not(.cp-show__item--active,.cp-sort__item--active),.cp-sort__item:hover:not(.cp-show__item--active,.cp-sort__item--active) {
    background-color: #f4f5f7
}

.cp-show__item--active,.cp-sort__item--active {
    color: #fff;
    background-color: #b88e2f
}

.cp-show__input {
    padding: 12px 18px;
    width: 62px
}

.cp-sort__input {
    padding: 12px 30px;
    width: 230px
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    gap: 38px
}

.pagination__button {
    width: 60px;
    height: 60px;
    font-size: 20px;
    background-color: #f9f1e7;
    border-radius: 10px;
    transition: background-color .3s cubic-bezier(.4,0,.2,1)
}

.pagination__button:hover:not(.pagination__button--active) {
    background-color: #f3e2ce
}

.pagination__button--next {
    width: 98px;
    height: 60px;
    font-weight: 300
}

.pagination__button--active {
    color: #fff;
    background-color: #b88e2f;
    pointer-events: none
}

.blog {
    padding: 106px 0 58px
}

.blog-posts {
    display: flex;
    justify-content: space-between
}

.blog-posts__list {
    display: flex;
    flex-direction: column;
    gap: 54px
}

.blog-posts__item {
    max-width: 817px
}

.blog-posts__image {
    margin-bottom: 17px;
    border-radius: 10px
}

.blog-posts__title {
    margin-bottom: 12px;
    color: #000;
    font-size: 30px;
    font-weight: 500
}

.blog-posts__text {
    margin-bottom: 30px;
    color: #9f9f9f;
    font-size: 15px;
    line-height: 1.5
}

.blog-posts__button {
    width: -moz-fit-content;
    width: fit-content;
    background-color: transparent;
    transition: color .3s cubic-bezier(.4,0,.2,1)
}

.blog-posts__button:hover {
    color: #b88e2f
}

.blog-posts__button:hover:after {
    width: 100%;
    border-color: #b88e2f
}

.blog-posts__button:after {
    content: "";
    display: block;
    margin: 0 auto;
    padding-top: 12px;
    width: 87%;
    border-bottom: 1px solid #000;
    transition: .3s cubic-bezier(.4,0,.2,1);
    transition-property: width,border-color
}

.posts-info {
    display: flex;
    gap: 35px;
    margin-bottom: 15px
}

.posts-info__item {
    display: flex;
    align-items: center;
    color: #9f9f9f
}

.posts-info__icon {
    margin-right: 7px;
    width: 20px;
    height: 20px
}

.blog-extra-container {
    max-width: 311px
}

.blog-extra__input-wrapper {
    position: relative;
    margin-bottom: 43px
}

.blog-extra__input {
    padding: 10px 50px 10px 20px;
    width: 100%;
    height: 58px;
    border: 1px solid #9f9f9f;
    border-radius: 10px;
    outline: none;
    transition: box-shadow .3s cubic-bezier(.4,0,.2,1)
}

.blog-extra__input:focus {
    box-shadow: 0 0 0 2px rgba(184,142,47,.5)
}

.blog-extra__icon {
    position: absolute;
    top: 50%;
    right: 13px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px
}

.blog-categories {
    margin-bottom: 118px;
    padding: 0 24px 0 36px
}

.blog-categories__title {
    margin-bottom: 33px;
    color: #000;
    font-size: 24px;
    font-weight: 500
}

.blog-categories__list {
    display: flex;
    gap: 41px;
    flex-direction: column;
    color: #9f9f9f
}

.blog-categories__item {
    display: flex;
    justify-content: space-between
}

.blog-recent {
    padding: 0 24px 0 36px
}

.blog-recent__title {
    margin-bottom: 26px;
    color: #000;
    font-size: 24px;
    font-weight: 500
}

.blog-recent__item {
    display: flex
}

.blog-recent__item:not(:last-child) {
    margin-bottom: 39px
}

.blog-recent__image {
    margin-right: 12px;
    border-radius: 10px
}

.blog-recent__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #9f9f9f;
    font-size: 12px
}

.blog-recent__text a:hover {
    text-decoration: underline;
    text-decoration-color: #000
}

.blog-recent__title-post {
    color: #000;
    font-size: 14px
}

.contact {
    padding: 98px 0 63px;
    color: #000
}

.contact__title {
    margin-bottom: 7px;
    font-size: 36px;
    font-weight: 600;
    text-align: center
}

.contact__text {
    margin: 0 auto;
    margin-bottom: 133px;
    width: 644px;
    color: #9f9f9f;
    text-align: center
}

.contact__content {
    display: flex;
    justify-content: space-evenly
}

.contact-info__item {
    display: flex
}

.contact-info__item:not(:last-child) {
    margin-bottom: 42px
}

.contact-info__icon {
    flex-shrink: 0;
    margin-top: 6px;
    margin-right: 30px
}

.contact-info__data {
    width: 212px;
    font-style: normal
}

.contact-info__title {
    font-size: 24px;
    font-weight: 500
}

.contact-info__link:hover {
    text-decoration: underline
}

.contact-form {
    width: 529px
}

.contact-form__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 36px
}

.contact-form__item:last-child {
    margin-bottom: 49px
}

.contact-form__label {
    margin-bottom: 22px;
    font-weight: 500
}

.contact-form__input,.contact-form__textarea {
    padding: 0 30px;
    border: 1px solid #9f9f9f;
    border-radius: 10px;
    outline: none
}

.contact-form__input:focus,.contact-form__textarea:focus {
    box-shadow: 0 0 0 2px rgba(184,142,47,.5)
}

.contact-form__input {
    height: 75px
}

.contact-form__textarea {
    padding: 26px 30px;
    resize: none
}

.contact-form__button {
    width: 237px;
    height: 55px;
    color: #fff;
    background-color: #b88e2f;
    border-radius: 5px;
    transition: opacity .3s cubic-bezier(.4,0,.2,1)
}

.contact-form__button:hover {
    opacity: .8
}

.backdrop {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.6);
    transition: opacity .3s cubic-bezier(.4,0,.2,1);
    opacity: 0;
    pointer-events: none;
    z-index: 5
}

.backdrop--visible {
    opacity: 1;
    pointer-events: all
}

.backdrop--visible .popup {
    transform: translateY(0)
}

.popup {
    transform: translateY(-66%);
    width: 448px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,.07),0 2px 2px rgba(0,0,0,.07),0 4px 4px rgba(0,0,0,.07),0 8px 8px rgba(0,0,0,.07),0 16px 16px rgba(0,0,0,.07);
    transition: transform .3s cubic-bezier(.4,0,.2,1);
    overflow: hidden
}

.popup-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #ccc
}

.popup-header__title {
    color: #000;
    font-size: 20px;
    font-weight: 500
}

.popup-header__button {
    display: flex;
    padding: 10px;
    background-color: transparent;
    border-radius: 8px;
    transition: background-color .3s cubic-bezier(.4,0,.2,1)
}

.popup-header__button:hover {
    background-color: #f4f5f7
}

.popup-header__button:hover .popup-header__icon {
    opacity: 1
}

.popup-header__icon {
    opacity: .5;
    transition: opacity .3s cubic-bezier(.4,0,.2,1)
}

.popup-body {
    padding: 24px;
    border-bottom: 1px solid #ccc
}

.popup-body__text {
    line-height: 1.35
}

.popup-footer {
    display: flex;
    gap: 10px;
    justify-content: end;
    padding: 24px
}

.popup-footer__button {
    width: 176px;
    height: 48px;
    color: #fff;
    background-color: #b88e2f;
    border-radius: 5px;
    transition: opacity .3s cubic-bezier(.4,0,.2,1)
}

.popup-footer__button:hover {
    opacity: .8
}

.footer {
    margin-top: auto;
    color: #000;
    background-color: #fff
}

.footer__title {
    margin-bottom: 58px;
    color: #9f9f9f;
    font-weight: 500
}

.footer,.footer__copyright {
    border-top: 1px solid #d9d9d9
}

.footer__copyright {
    padding: 35px 0 38px
}

.footer-content {
    display: flex;
    padding: 48px 0
}

.footer-contact {
    margin-right: 136px
}

.footer-contact__link {
    display: inline-block;
    margin-bottom: 50px;
    color: #000;
    font-size: 24px;
    font-weight: 700
}

.footer-contact__address {
    color: #9f9f9f;
    font-style: normal
}

.footer-links {
    margin-right: 144px
}

.footer-help {
    margin-right: 72px
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 46px
}

.footer-list__link {
    color: #000;
    font-weight: 500;
    transition: color .3s cubic-bezier(.4,0,.2,1)
}

.footer-list__link:hover {
    color: #b88e2f
}

.footer-newsletter {
    display: flex;
    gap: 11px;
    min-height: 24px;
    font-size: 14px
}

.footer-newsletter__button,.footer-newsletter__input {
    min-height: 100%;
    background-color: #fff;
    transition: .3s cubic-bezier(.4,0,.2,1);
    transition-property: color,border-color
}

.footer-newsletter__input {
    width: 200px;
    border-bottom: 1px solid #000;
    outline: none
}

.footer-newsletter__input:focus {
    border-color: #b88e2f
}

.footer-newsletter__input::placeholder {
    color: #9f9f9f
}

.footer-newsletter__button {
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 1px solid #000
}

.footer-newsletter__button:hover {
    color: #b88e2f;
    border-color: #b88e2f
}
